body {
    background: rgb(58, 58, 58);
    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 0;   
    padding: 0;
}

header {
    background: black;
    padding: 20px;
    text-align: left;
}

section {
    background:rgb(59, 57, 57);
    color: red;
    padding: 100px;
    display: flex;
    flex-direction: row;
}

div {
    background: whitesmoke;
    color: black;
    font-size: 150px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
footer {
    background: black;
    padding: 20px 10px;
    text-align: center;
}

